div {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 52px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    -moz-user-select: none;
    color: #029c66;
}



