<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <link rel="stylesheet" type="text/css" href="./css/app.css"/>
  </head>
  <body>
    <div id="app"></div>
  </body>
  <script src="./js/app.js"></script>
</html>
